server:
  port: 8082

spring:
  application:
    name: user-service

  threads:
    virtual:
      enabled: true
  
  datasource:
    url: jdbc:postgresql://localhost:5432/user_db
    username: admin
    password: password
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  
  flyway:
    enabled: true
    baseline-on-migrate: true
    
  graphql:
    graphiql:
      enabled: true # Enable GraphiQL UI for testing
      path: /graphiql

logging:
  level:
    org.springframework.web: INFO
