# OS
.DS_Store

# IDEs
.idea/
.vscode/
*.iml
*.swp

# Maven / Java
target/
*.class
*.log
.mvn/
mvnw
mvnw.cmd

# Docker (Local Data Volumes)
postgres-data/
minio-data/
redis-data/
kafka-data/

# Frontend (Node.js)
node_modules/
dist/
npm-debug.log
yarn-error.log
.env
.env.local

# Terraform
infrastructure/.terraform/
infrastructure/.terraform.lock.hcl
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# External Assets
tailwindui/
infrastructure/k8s/secrets.yaml
istio-*/
