server:
  port: 8085

spring:
  application:
    name: media-service

  threads:
    virtual:
      enabled: true
  
  datasource:
    url: jdbc:postgresql://localhost:5432/media_db
    username: admin
    password: password
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  
  flyway:
    enabled: true
    baseline-on-migrate: true
    
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

application:
  minio:
    url: http://localhost:9000
    public-url: http://localhost:9000
    access-key: admin
    secret-key: password
    bucket: media-bucket

logging:
  level:
    org.springframework.web: INFO
